<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="main.css">
   
   
   
    <meta charset="UTF-8">
    <title>Mad Libs!</title>
</head>

<body ng-controller="MyCtrl">
   <!-- Title Bar -->
   <div class="container">
       <div class="row">
            <section class="col-md-12 title">
               <!-- Smiley Logo -->
               <div class="col-md-3 titlebar">
                   <img src="smiley.png" />
               </div>
               <!-- Title -->
               <div class="col-md-9">
                   <div>
                       <img src="angularlibslogo.png" />
                   </div>
                   <h1>Automate This!</h1>
               </div>

            </section>
        </div>

        <!-- Input Section -->
        <div class="row">
            <section class="col-md-12 input">
              <div class="input-container container">
                   <div class="center row">
                       <button ng-click="female()" class="btn btn-primary">Female</button>
                       <button ng-click="male()" class="btn btn-primary">Male</button>
                  </div>
                  <form name="madLibInput" novalidate ng-submit="madLibInput.$valid&&submit()">
                  
                  <!-- Row 1 inputs (do not put more than three inputs per row) -->
                    <div class="row">
                       <input class="col-md-3" type="text" name="name" ng-model="name" placeholder="{{ name }}" required ng-minlength="2" ng-focus="name=''"/>
                       <input class="col-md-3" type="text" name="job" ng-model="job" placeholder="{{ job }}" required ng-minlength="2"/>
                       <input class="col-md-3" type="text" name="taskTedious" ng-model="taskTedious" placeholder="{{ taskTedious }}" required ng-minlength="2"/>
                    </div>
                    
                    <!-- Row 1 errors (do not put more than three inputs per row) -->
                    <div class="row errorShow">
                        <div class="col-md-3 errorDiv" ng-if="madLibInput.$submitted" ng-messages="madLibInput.name.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Field is too short!!</span>
                        </div>
                        <div class="col-md-3" ng-if="madLibInput.$submitted" ng-messages="madLibInput.job.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Field is too short!!</span>
                        </div>
                        <div class="col-md-3" ng-if="madLibInput.$submitted" ng-messages="madLibInput.taskTedious.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Field is too short!!</span>
                        </div>
                    </div>
                    
                    <!-- Row 2 inputs (do not put more than three inputs per row) -->
                    <div class="row">
                      <input class="col-md-3" type="text" name="jobDirty" ng-model="jobDirty" placeholder="{{ jobDirty }}" required ng-minlength="2"/>
                       <input class="col-md-3" type="text" name="celebrity" ng-model="celebrity" placeholder="{{ celebrity }}" required ng-minlength="2"/>
                       <input class="col-md-3" type="text" name="skill" ng-model="skill" placeholder="{{ skill }}" required ng-minlength="2"/>
                       
                    </div>
                    
                    <!-- Row 2 errors (do not put more than three inputs per row) -->
                    <div class="row errorShow">
                        <div class="col-md-3 errorDiv" ng-if="madLibInput.$submitted" ng-messages="madLibInput.jobDirty.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Field is too short!!</span>
                        </div>
                        <div class="col-md-3" ng-if="madLibInput.$submitted" ng-messages="madLibInput.celebrity.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Field is too short!!</span>
                        </div>
                        <div class="col-md-3" ng-if="madLibInput.$submitted" ng-messages="madLibInput.skill.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Field is too short!!</span>
                        </div>
                    </div>
                    
                    <!-- Row 3 inputs (do not put more than three inputs per row) --> 
                    <div class="row">
                       <input class="col-md-3 numberInput" type="number" name="number" ng-model="number" placeholder="{{ number }}" required/>
                       <input class="col-md-3" type="text" name="adjective" ng-model="adjective" placeholder="{{ adjective }}" required ng-minlength="2"/>
                       <input class="col-md-3" type="text" name="crazyName" ng-model="crazyName" placeholder="{{ crazyName }}" required ng-minlength="2"/>
                    </div>
                    
                     <!-- Row 3 errors (do not put more than three inputs per row) -->
                    <div class="row errorShow">
                        <div class="col-md-3 errorDiv" ng-if="madLibInput.$submitted" ng-messages="madLibInput.number.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                        </div>
                        <div class="col-md-3" ng-if="madLibInput.$submitted" ng-messages="madLibInput.adjective.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Field is too short!!</span>
                        </div>
                        <div class="col-md-3" ng-if="madLibInput.$submitted" ng-messages="madLibInput.crazyName.$error">
                            <span class="error" ng-message="required">Field is required!</span>
                            <span class="error" ng-message="minlength">Field is too short!!</span>
                        </div>
                    </div>
                    
                    <!-- Submit Button -->
                    <div class="row">
                       <button class="btn btn-success" type="submit">See Your Madlib!</button>
                    </div>
                      </form>
                      
                </div> <!-- end .container .input-contatiner -->
            </section> <!-- end .col-md-12 .input -->
    </div> <!-- end .row -->
 
    
    <!-- Story Section -->
    <div class="row">
        <section class="col-md-12 story" ng-show="showStory">
           <p>
              <span ng-hide="name">{{ name }}</span>
              <span ng-hide="!name" class="handwriting">{{name}}</span> 
              was a(n) 
              <span ng-hide="job">{Occupation}</span>
              <span ng-hide="!job" class="handwriting">{{job}}</span> 
              who loved technology. <br><br> Although {{gender.pronoun}} loved parts of {{gender.possesive}} job, {{gender.pronoun}} absolutely hated  
              <span ng-hide="taskTedious">{Tedious Task}</span>
              <span ng-hide="!taskTedious" class="handwriting">{{taskTedious}}</span> 
              and 
              <span ng-hide="jobDirty">{Dirty Job}</span>
              <span ng-hide="!jobDirty" class="handwriting">{{jobDirty}}</span>
              . So, 
              <span ng-hide="name">{Female Name}</span>
              <span ng-hide="!name" class="handwriting">{{name}}</span> 
              met with {{gender.possesive}} life mentor, 
              <span ng-hide="celebrity">{Annoying Celebrity}</span>
              <span ng-hide="!celebrity" class="handwriting">{{celebrity}}</span>
              , who told {{gender.objective}} to learn 
              <span ng-hide="skill">{Useless Skill}</span>
              <span ng-hide="!skill" class="handwriting">{{skill}}</span> 
              with Thinkful. Thinkful didn't offer a course on 
              <span ng-hide="skill">{Useless Skill}</span>
              <span ng-hide="!skill" class="handwriting">{{skill}}</span> 
              so {{gender.pronoun}} studied programming instead. <br><br>
              What a great decision! With {{gender.possesive}} new skills, 
              <span ng-hide="name">{Female Name}</span>
              <span ng-hide="!name" class="handwriting">{{name}}</span> 
              built a(n) 
              <span ng-hide="adjective">{Adjective}</span>
              <span ng-hide="!adjective" class="handwriting">{{adjective}}</span> 
              robot named 
              <span ng-hide="crazyName">{Crazy Name}</span>
              <span ng-hide="!crazyName" class="handwriting">{{crazyName}}</span> 
              that not only loved 
              <span ng-hide="jobDirty">{Dirty Job}</span>
              <span ng-hide="!jobDirty" class="handwriting">{{jobDirty}}</span> 
              but did it <span ng-hide="number">{Number}</span>
              <span ng-hide="!number" class="handwriting">{{number}}</span> 
              times faster! 
            </p>
            
            <button ng-click="reset()">Reset</button>

        </section>
    </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" type="text/javascript"></script>
    <script src="angular-messages.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
</body>
</html>